---
import { Image } from "astro:assets";
import { demo_users } from "@/data/demo-users.ts";

const tabsForDemo = [
  {
    icon: "i-ph-pulse",
    text: "Activities",
    id: "activitiesTab",
  },
  {
    icon: "i-ph-calendar-dots",
    text: "Schedules",
    id: "schedulesTab",
  },
];
---

<div
  class="b-b b-border-strong/50 b-dashed mt14 px4 relative z3 flex sm-justify-center overflow-hidden wfull"
>
  <div
    aria-hidden="true"
    class="absolute inset-0
          ui-grid ui-grid-w-md [--unify-ui-grid-height:24px]
          ui-striped-overlay-mask text-fg/20 op60"
  >
  </div>
  <div
    aria-hidden="true"
    class="absolute inset-0 flex justify-center items-end pointer-events-none bg-bg/20 dark-bg-bg/60"
  >
    <span
      class="w-3/5 relative aspect-[4/2.6] bg-gradient-to-tr from-primary via-accent to-secondary rounded-full blur-3xl op40 dark-op20"
    ></span>
  </div>
  <div
    class="min-w530px min-[460px]-min-w740px sm-min-w890px md-min-w-1040px grid grid-cols-7 md-grid-cols-10 max-w-7xl mxa wfull gap4 bg-bg/60 pt2 relative"
  >
    <div
      class="grid relative col-span-4 lg-col-span-3 gap-4 flex flex-col pt10"
    >
      <div
        class="grid grid-cols-3 bg-bg b b-border ui-card [--card-radius:--global-main-radius] [--card-padding:0.125rem] text-sm text-fg first:*:inner-radius first:*:rd-r-none last:*:rd-l-none last:*:inner-radius overflow-hidden"
      >
        <div class="flex overflow-hidden">
          <input
            type="radio"
            name="check-option"
            id="option1"
            class="appearance-none peer"
          />
          <label
            for="option1"
            class="px3.5 h8 py1.5 peer-checked:bg-primary peer-checked:text-white wfull flex justify-center"
            >Option 1</label
          >
        </div>
        <div class="flex overflow-hidden">
          <input
            type="radio"
            checked
            name="check-option"
            id="option2"
            class="appearance-none peer"
          />
          <label
            for="option2"
            class="px3.5 h8 py1.5 peer-checked:bg-primary peer-checked:text-white wfull flex justify-center"
            >Option 2</label
          >
        </div>
        <div class="flex overflow-hidden">
          <input
            type="radio"
            name="check-option"
            id="option3"
            class="appearance-none peer"
          />
          <label
            for="option3"
            class="px3.5 h8 py1.5 peer-checked:bg-primary peer-checked:text-white wfull flex justify-center"
            >Option 3</label
          >
        </div>
      </div>
      <div
        class="b b-border bg-bg/40 backdrop-blur-3px ui-card cp-5 md-cp-6 [--card-radius:--global-main-radius] text-sm text-fg overflow-hidden"
      >
        <h1 class="text-fg-title font-semibold text-lg">Members</h1>
        <p class="text-fg-muted text-sm mt-0.5">
          Manage workspace's authorization
        </p>
        <div
          class="mt-3.5 ui-card inner-radius c-rd-lg cp-2.5 bg-bg-surface flex items-center gap-3"
        >
          <div
            class="inner-radius bg-bg shadow-sm size-10 text-xl d-flex-place-center"
          >
            <span aria-hidden="true" class="flex i-ph-globe"></span>
          </div>
          <div class="flex items-center gap-4">
            <div class="flex flex-col flex-1">
              <h2 class="text-fg-title font-semibold">Public access</h2>
              <p class="text-fg-muted text-xs sm-text-sm line-clamp-1">
                Publish and share link with anyone
              </p>
            </div>
            <div class="wmax min-wmax">
              <input
                type="checkbox"
                name="switch_def3"
                id="switch_def3"
                class="bg-bg-muted text-bg-muted switch switch-sm switch-knob-white"
              />
            </div>
          </div>
        </div>
        <form class="mt-3.5">
          <div class="relative">
            <input
              type="search"
              placeholder="https:builder.unoui.dev/org/flexy-hub"
              class="ui-form-base ui-form-input ui-form-input-md b b-border font-300 bg-bg rd-lg text-fg text-sm"
              readonly
            />
            <button
              onclick="event.preventDefault()"
              class="absolute right-3 hfull flex items-center top-0 text-fg pointer-cursor"
            >
              <span
                aria-hidden="true"
                class="flex i-ph-clipboard-duotone text-lg"></span>
            </button>
          </div>
        </form>
        <div class="flex flex-col mt-4">
          <span class="mb-1.5 text-fg font-semibold">Members</span>
          <div class="flex gap-2">
            <div class="relative z300 flex-1">
              <input
                type="text"
                placeholder="johnkatmj@gmail.com"
                class="ui-form-base ui-form-input ui-form-input-md b b-border bg-bg text-fg text-sm font-300 ps9 rd-md h-9"
              />
              <span
                aria-hidden="true"
                class="absolute left-3 h-full flex items-center top-0 text-fg pointer-events-none"
              >
                <span class="flex text-lg i-ph-envelope"></span>
              </span>
            </div>
            <button
              class="btn btn-md btn-solid btn-solid-primary text-white rd-md"
              >Invite</button
            >
          </div>
          <div class="mt-3.5">
            <ul
              class="rd-md b b-border ui-card inner-radius c-rd-lg cp-2 divide-y divide-border/70 *-py2 first-*-pt0 last-*-pb0"
            >
              {
                demo_users.map((user) => (
                  <li class="grid grid-cols-[2.25rem_1fr_38px] items-center gap-3 w-full">
                    <div class="flex min-wmax">
                      <img
                        src={user.avatar}
                        width="300"
                        height="300"
                        alt={`Avatar de ${user.user_name}`}
                        class="size-9 rd-full object-cover"
                      />
                    </div>
                    <div class="grid">
                      <span class="flex w-full font-semibold text-sm text-fg-title line-clamp-1">
                        {user.user_name}
                      </span>
                      <span class="flex w-full text-xs text-fg-muted line-clamp-1">
                        {user.mail}
                      </span>
                    </div>
                    <div class="flex items-center min-w-max">
                      <button class="btn btn-icon-md btn-ghost btn-ghost-gray rd-md">
                        <span class="i-ph-dots-three-vertical" />
                      </button>
                    </div>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="relative col-span-3 grid flex flex-col gap-4 pt6">
      <div
        class="bg-bg b b-border shadow-sm ui-card [--card-radius:--global-main-radius] [--card-padding:1.125rem] flex items-start gap4"
      >
        <div class="flex min-wmax ui-subtle ui-subtle-gray p2.5 inner-radius">
          <span class="i-ph-github-logo"></span>
        </div>
        <div class="">
          <span class="text-fg-title font-semibold">Github</span>
          <p class="mt2 text-sm text-fg-muted">
            Link pull requests, commits and automate workflows
          </p>
          <button class="btn btn-sm btn-outline btn-outline-gray rd-md mt3">
            Enable
          </button>
        </div>
      </div>
      <div
        class="bg-bg b b-border shadow-sm ui-card [--card-radius:--global-main-radius] [--card-padding:1.125rem]"
      >
        <div class="flex items-center justify-between text-sm">
          <h2 class="font-semibold text-fg-title">Todo list</h2>
          <button class="text-sm text-primary flex items-center gap-2">
            <span class="i-ph-plus-circle"></span>
            Add new task
          </button>
        </div>
        <div
          class="pt-5 space-y-2 text-xs text-fg children:flex children:items-center children:gap-3 children:px-3 children:py-1 children:rounded-md children:border"
        >
          <div class="op-90 b-border">
            <span class="i-ph-x-circle"></span>
            <span
              class="relative before-absolute before-content-empty before-inset-x-0 before-h-px before-top-1/2 before-bg-fg"
            >
              Edit new article
            </span>
          </div>
          <div class="b-border">
            <span class="i-ph-shield-warning"></span>
            Move to bun install
          </div><div class="ui-subtle ui-subtle-success">
            <span class="i-ph-check-circle"></span>
            Fix bug
          </div>
          <div class="ui-subtle ui-subtle-success">
            <span class="i-ph-check-circle"></span>
            Fix bug
          </div>
        </div>
      </div>

      <div
        class="bg-bg b b-border shadow-sm ui-card [--card-radius:--global-main-radius] [--card-padding:1.125rem]"
      >
        <div class="flex items-center gap4">
          <div class="size-10">
            <Image
              src={"/defaultavatar.webp"}
              alt="User default"
              class={"size-full rd-full object-cover"}
              width={150}
              height={150}
            />
          </div>
          <div class="space-y-0.5 flex flex-col">
            <span class="font-semibold text-sm text-fg-title"
              >Tresor Kasenda</span
            >
            <p class="text-sm text-fg-muted">tresorkasenda@unoui.app</p>
          </div>
        </div>
        <div class="flex items-center gap-2 text-sm text-fg-muted mt2">
          <span class="flex i-ph-buildings"></span>
          <span>Unoforge</span>
        </div>
        <div class="grid grid-cols-2 gap2 mt4">
          <a
            href="#"
            class="btn btn-sm wfull justify-center btn-solid btn-solid-neutral text-bg rd-global-radius"
          >
            Manage profile
          </a>
          <a
            href="#"
            class="btn btn-sm wfull justify-center btn-outline btn-outline-gray rd-global-radius"
          >
            View Details
          </a>
        </div>
      </div>
    </div>
    <div
      class="relative col-span-3 lg-col-span-4 hidden md-flex flex-col gap-4"
    >
      <div class="row-span-1">
        <div
          class="flex justify-between items-center bg-bg shadow-sm ui-card [--card-padding:0.375rem] [--card-radius:var(--global-main-radius)] b b-border"
        >
          <div class="flex text-fg/70 font-semibold pl1">UnoUI</div>
          <div
            class="size-9 flex items-center justify-center inner-radius b b-border flex flex-col space-y-1"
          >
            <span class="w5 h0.5 rd-full bg-fg/60"></span>
            <span class="w5 h0.5 rd-full bg-fg/60"></span>
            <span class="w5 h0.5 rd-full bg-fg/60"></span>
          </div>
        </div>
      </div>
      <div
        data-fx-tabs
        data-tabs
        data-indicator-class-name="ui-tabs-indicator inner-radius flex bg-bg shadow-sm b b-border-strong inner-radius absolute top-0 left-0"
        role="tab"
        class="row-span-3 bg-bg b b-border shadow-sm ui-card [--card-padding:0.575rem] [--card-radius:var(--global-main-radius)]"
      >
        <div data-tab-list-wrapper class="[--card-padding:0.125rem]">
          <ul
            data-tab-list
            role="tablist"
            class="p-[--card-padding] inner-radius bg-bg-surface grid grid-cols-2 relative wfull justify-center text-sm text-fg-muted"
          >
            {
              tabsForDemo.map((tab) => (
                <li role="presentation" class="flex wfull">
                  <a
                    href={`#${tab.id}`}
                    data-tabs-trigger
                    data-target={tab.id}
                    aria-controls={tab.id}
                    tabindex="0"
                    class="px3 py1.5 rd wfull flex items-center justify-center text-fg-muted fx-active-text-fg-title disabled:cursor-not-allowed disabled:op80 relative"
                  >
                    <span class={`${tab.icon} flex mr0.5`} />
                    {tab.text}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div
          data-panels-container
          class="[--card-padding:0.375rem] pt[--card-padding]"
        >
          <section
            data-tab-panel
            id="activitiesTab"
            aria-labelledby="Activities"
            class="hidden fx-active-flex"
          >
            <div class="wfull flex flex-col">
              <div class="flex flex-col gap-2">
                <div
                  class="bg-bg-surface ui-card [--card-radius:--global-main-radius] [--card-padding:0.125rem]"
                >
                  <div class="bg-bg inner-radius p3.5 flex flex-col">
                    <span class="font-semibold text-fg-title">
                      Plan ui components V1
                    </span>
                    <div class=""></div>
                    <p class="my1.5 text-fg-muted text-sm line-clamp-1">
                      Plan the components for the next version of the UI
                    </p>
                    <div class="flex flex-col pt1">
                      <span
                        style="--progress-percent:10%"
                        class="relative wfull h2 bg-bg-muted before-absolute before-rd-full before-hfull before-content-empty before-w[--progress-percent] before-bg-primary before-flex before-left-0 rd-full"
                      ></span>
                      <div
                        class="pt0.5 flex full text-xs justify-between text-fg-muted"
                      >
                        <span>On going</span>
                        <div class="font-medium text-fg">3/10</div>
                      </div>
                    </div>
                    <div class="flex justify-between mt1.5">
                      <div class="flex -space-x-2">
                        <Image
                          src={"/avatar1.webp"}
                          width={100}
                          height={100}
                          alt={"Avatar 1"}
                          class={"size-6.5 object-cover rd-full b b-bg-muted"}
                        />
                        <Image
                          src={"/avatar2.webp"}
                          width={100}
                          height={100}
                          alt={"Avatar 1"}
                          class={"size-6.5 object-cover rd-full b b-bg-muted"}
                        />
                        <Image
                          src={"/avatar2.webp"}
                          width={100}
                          height={100}
                          alt={"Avatar 1"}
                          class={"size-6.5 object-cover rd-full b b-bg-muted"}
                        />
                      </div>
                      <div
                        class="flex gap-2 items-center text-sm text-fg-muted"
                      >
                        <span class="flex items-center text-xs">
                          <span class="i-ph-file-plus text-sm mr0.5"></span> 4
                        </span>
                        <span class="flex items-center text-xs">
                          <span class="i-ph-chat-centered-text text-sm mr0.5"
                          ></span> 4
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            data-tab-panel
            id="schedulesTab"
            aria-labelledby="Schedules"
            class="hidden fx-active-flex"
          >
            <div
              class="bg-bg-surface wfull flex ui-card [--card-radius:--global-main-radius] [--card-padding:0.125rem]"
            >
              <div
                class="bg-bg wfull inner-radius px3.5 py6 flex flex-col items-center text-center"
              >
                <div
                  class="size-10 rd-full flex ui-subtle ui-subtle-primary flex items-center justify-center"
                >
                  <span class="i-ph-calendar-plus text-xl"></span>
                </div>
                <p class="mt2 text-fg-muted text-sm">No Schedules</p>
                <button
                  class="btn btn-xs btn-outline btn-outline-gray rd-md mt3"
                >
                  Create new schedule
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div
        class="h21rem relative overflow-hidden bg-bg b b-dashed b-border b-b-0 ui-card [--card-radius:--global-main-radius] flex flex-col"
      >
        <div class="wfull flex items-center gap-5 h12 px4 b-b b-border">
          <div
            class="flex space-x-1.5 *-w2.5 *-aspect-square *-bg-fg *-rd-full"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </div>
          <span
            class="b b-border text-fg py1 rd-xl px2.5 flex items-center gap2 text-sm"
          >
            block.html
          </span>
        </div>
        <div
          class="flex-1 w-full px3 xs-px-4 md-px10 pt4 overflow-hidden before-absolute before-bottom-0 before-inset-x-0 before-content-empty before-h30 before-bg-gradient-to-t before-from-bg"
        >
          <div
            class="rd-lg bg-bg-surface h16 flex justify-between items-center px6 text-fg"
          >
            <div>Your Logo</div>
            <div
              class="flex flex-col space-y-2 *-w6 *-opacity-90 *-h0.5 *-rd-full *:flex *:bg-fg"
            >
              <span></span>
              <span></span>
            </div>
          </div>
          <h1
            class="text-center font-bold text-transparent bg-clip-text bg-gradient-to-bl from-fg-title to-fg-muted/50 text-2xl sm:text-3xl md:text-4xl mt-10 sm:px-8"
          >
            The only all in one tool you need for your clinic
          </h1>
          <p class="text-center text-fg mt6 sm-px8 max-wsm mxa">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="absolute bottom-0 inset-x-0 py2 bg-gradient-to-t from-bg-surface/50 text-sm"
  >
    <div
      class="wmax text-fg-muted bg-bg ui-card [--card-radius:--global-main-radius] cp-0.5 b b-border shadow-sm mxa max-wfull flex flex-wrap items-center justify-center gap0.5"
    >
      <div class="px2 py1.5 inner-radius flex items-center bg-bg-surface">
        <img
          src={`/icons/html.svg`}
          alt={`icon `}
          width="20"
          class="h4 wauto mr1.5"
        />
        HTML
      </div>
      <div class="px2 py1.5 inner-radius flex items-center bg-bg-surface">
        <img
          src={`/icons/vue.svg`}
          alt={`icon `}
          width="20"
          class="h4 wauto mr1.5"
        />
        VueJS
      </div>
      <div class="px2 py1.5 inner-radius flex items-center bg-bg-surface">
        <span aria-hidden="true" class="i-fx-unocss-ico flex mr1.5"></span>
        UnoCSS
      </div>
      <div class="px2 py1.5 inner-radius flex items-center bg-bg-surface">
        <img
          src={`/icons/laravel.svg`}
          alt={`icon `}
          width="20"
          class="h4 wauto mr1.5"
        />
        Laravel
      </div>
      <div class="px2 py1.5 inner-radius flex items-center bg-bg-surface">
        <img
          src={`/icons/svelte.svg`}
          alt={`icon `}
          width="20"
          class="h4 wauto mr1.5"
        />
        Svelte
      </div>
    </div>
  </div>
</div>
