---
import type { UiCardProps } from "@/types/index";
import UiLink from "@components/atoms/UiLink.astro";
import { Image } from "astro:assets";

type Props = UiCardProps;
const { href, title, description, icon, iconDark } = Astro.props;
---

<UiLink
  href={href}
  class:list={[
    "flex flex-col wfull text-fg ease-linear duration-200 relative group",
    "hover-border-primary border border-gray200 dark-border-gray800/60 bg-bg hover-bg-bg-surface",
    "p5 rd-lg",
  ]}
>
  <span
    class={`size-10 d-flex-place-center rd-md p2 ui-soft ${icon.startsWith("/") || icon.startsWith("http") ? 'ui-soft-gray' :"ui-soft-primary"}`}
  >
    {
      icon.startsWith("/") || icon.startsWith("http") ? (
        <>
          {iconDark ? (
            <>
              <Image
                src={icon}
                alt={`icon ${icon}`}
                width={20}
                height={20}
                class="h5 wauto dark-hidden"
              />
              <Image
                src={iconDark}
                alt={`icon ${iconDark}`}
                width={20}
                height={20}
                class="h5 wauto not-dark-hidden"
              />
            </>
          ) : (
            <Image
              src={icon}
              alt={`icon ${icon}`}
              width={20}
              height={20}
              class="h5 wauto"
            />
          )}
        </>
      ) : (
        <span
          aria-hidden="true"
          class={`flex ${icon} text-primary text-2xl`}
        />
      )
    }
  </span>
  {
    href.startsWith("http") ? (
      <span
        aria-hidden="true"
        class="absolute group-hover-text-primary top-5 right-5 text-fg-sub text-xs i-ph-arrow-square-out"
      />
    ) : (
      <span
        aria-hidden="true"
        class="absolute group-hover-text-primary top-5 right-5 text-fg-sub text-xs i-ph-arrow-up-right"
      />
    )
  }

  <h2 class="font-medium text-lg text-fg-title mt-4">{title}</h2>
  <p class="text-sm text-fg-sub mt-1 leading-6">
    {description}
  </p>
</UiLink>
